footer {
    /* prevent overlapping */
    flex: 0 0 50px;
    margin-top: auto;
    /* ------ */ 
    min-height: 10vh;
    background: white;
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
}

.info i {
    color: black;
    font-size: 18px;
}

.info a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(105, 105, 105);
}
