nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: white;
}

.logo {
    color: rgb(105, 105, 105);
    font-size: 20px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(105, 105, 105);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(105, 105, 105);
    margin: 5px;
    transition: all 0.3s ease;
    justify-items: right;
}

/* tablets */
@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

/* celular */
@media screen and (max-width:768px) {

    body {
        overflow-x: hidden;  
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 12vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);    
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);    
}
