nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: white;
}

.logo {
    color: rgb(105, 105, 105);
    font-size: 20px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(105, 105, 105);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(105, 105, 105);
    margin: 5px;
    transition: all 0.3s ease;
    justify-items: right;
}